body {
    background-image: url('/images/background 1.png');
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    margin: 0 auto;
}

.container {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
}

.title-span {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    margin-left: 57px;
}

.data{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.email,
.phone {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.link-email {
    color: white;
    margin-top: 45px;
    text-decoration: none;
}

.link-phone {
    color: white;
    text-decoration: none;
}

.link-email:hover,
.link-phone:hover {
    color: #F26522;
}

.main {
    display: grid;
    position: relative;
    width: 1360px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    column-gap: 210px;
    row-gap: 50px;
}

.title-link {
    text-decoration: none;
    list-style: none;
    color: white;
}

.title-photo {
    margin-top: 30px;
    margin-bottom: -20px;
}

.title-photo::before {
    content: url('/images/background\ 1.png');
    position: absolute;
    background: #F26522;
    color: #F26522;

}

a.container:hover,
a.title-link:hover,
a.title-span:hover {
    color: #F26522;
}

.images:hover {
    color: #F26522;

}

.images,
.text {
    text-decoration: none;
    list-style: none;
    color: white;
}

.text {
    display: flex;
    justify-content: center;
    color: white;
}

.text:hover {
    color: #F26522;
}


a.title-photo:hover {
    background-color: #F26522;
}

.tooltip {
    position: relative;
    padding: 10px;
    display: none;
    bottom: 27%;
    margin-left: 152px;
    margin-right: -152px;
    height: 30px;
    width: 285px;
    transform: translateX(-50%);
}

.tooltip-2 {
    position: relative;
    padding: 10px;
    display: none;
    bottom: 29%;
    margin-left: 155px;
    margin-right: -155px;
    height: 35px;
    width: 290px;
    transform: translateX(-50%);
}

.tooltip-3 {
    position: relative;
    padding: 10px;
    display: none;
    bottom: 27%;
    margin-left: 152px;
    margin-right: -152px;
    height: 30px;
    width: 285px;
    transform: translateX(-50%);
}

.item1:hover .tooltip {
    display: flex;
    background: #F26522;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
}

.item2:hover .tooltip-2 {
    display: flex;
    background: #F26522;
}

.item3:hover .tooltip {
    display: flex;
    background: #F26522;
}

.item4:hover .tooltip-3 {
    display: flex;
    background: #F26522;
}

.item5:hover .tooltip-3 {
    display: flex;
   
    background: #F26522;
}

.item6:hover .tooltip-3 {
    display: flex;
    background: #F26522;
}

.space {
    padding-left: 120px;
    font-size: 15px;
    font-weight: lighter;
}

.arrow {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-left: 25px;
}

.arrow::before {
    content: ''; 
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid rgba(239, 240, 243, 0.9);
  }

  .footer{
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .copy{
    color: #ffffff;
    font-size: 14px;
  }